<form (submit)="onSubmitForm()" [formGroup]="userForm">
  <!--les div permettent de les mettres en display block plutot que inline, sinon tout les labels/input se mettraient sur meme ligne-->
  <div>
    <label>Prénom: </label>
    <input formControlName="firstname" type="text" />
  </div>
  <div>
    <label>Nom: </label>
    <input formControlName="lastname" type="text" />
  </div>
  <div>
    <label>Email: </label>
    <input formControlName="email" type="text" />
  </div>

  <button type="submit">Envoyer</button>
</form>

<button (click)="setForm()">SetForm</button>
