<form (submit)="onSubmitForm()" [formGroup]="userForm">
  <!--les div permettent de les mettres en display block plutot que inline, sinon tout les labels/input se mettraient sur meme ligne-->
  <div>
    <label>Prénom: </label>
    <input formControlName="firstname" type="text" />
    <!-- on affiche les erreurs qu'après un premier submit-->
    <div *ngIf='userFormIsSubmitted'>
      <!-- le ? indique qu'on test si errors est présent. Si pas présent dans ce cas, ca retourne false, sinon il regarde si y'a minlength ensuite-->
      <p *ngIf="userForm.controls.firstname.errors?.minlength || userForm.controls.firstname.errors?.maxlength" class="error">Le champs prenom doit contenir entre 2 et 4 caractères</p>
      <p *ngIf='userForm.controls.firstname.errors?.required'class="error">Le champs est requis</p>
    </div>
  </div>
  <div>
    <label>Nom: </label>
    <input formControlName="lastname" type="text" />
    
  </div>
  <div>
    <label>Email: </label>
    <input formControlName="email" type="text" />
    <p *ngIf='userForm.controls.email.errors?.email && userFormIsSubmitted'class="error">Le champs email est mal formaté</p>
  </div>
  <div formGroupName="address">
    <label>Adresse: </label>
    <div>
      <input formControlName="street" type="text" />
    </div>
    <div>
      <input formControlName="postalCode" type="text" />
    </div>
    <div>
      <input formControlName="city" type="text" />
    </div>
  </div>

  <button type="submit">Envoyer</button>
</form>

<!-- on voit que le userForm est réactif: les valeurs se mettent à jour directement-->
<pre>{{ userForm.value | json }}</pre>

<button (click)="setForm()">SetForm</button>
