<form (submit)="onSubmitForm()" [formGroup]="userForm">
  <!--les div permettent de les mettres en display block plutot que inline, sinon tout les labels/input se mettraient sur meme ligne-->
  <div>
    <label>Prénom: </label>
    <input formControlName="firstname" type="text" />
  </div>
  <div>
    <label>Nom: </label>
    <input formControlName="lastname" type="text" />
  </div>
  <div>
    <label>Email: </label>
    <input formControlName="email" type="text" />
  </div>
  <div formGroupName="addresse">
    <label>Adresse: </label>
    <div>
      <input formControlName="street" type="text" />
    </div>
    <div>
      <input formControlName="postalCode" type="text" />
    </div>
    <div>
      <input formControlName="city" type="text" />
    </div>
  </div>

  <button type="submit">Envoyer</button>
</form>

<!-- on voit que le userForm est réactif: les valeurs se mettent à jour directement-->
<pre>{{ userForm.value | json }}</pre>

<button (click)="setForm()">SetForm</button>
